.other{
    margin-top: 5%;
}

body{
    background-color: rgb(242, 251, 250);
    color: rgb(26, 116, 108);
}

.games{
    margin-bottom: 0%;
}

.controller{
    margin-left: 80%;
    margin-top: 0%;
}