.other{
    margin-top: 5%;
}

body{
    background-color: rgb(242, 251, 250);
    color: rgb(26, 116, 108);
}

.games{
    margin-bottom: 0%;
}

.gamepad{
    margin-left: 85%;
    margin-top: 0%;
    width: 10vw;
    height: 7.5vh;
}