.header{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.tile{
    margin-left: 2%;
    margin-right: 2%;
    padding: 0%;
    background-color: rgb(197, 240, 236);
}

.header button{
    background-color:  rgb(190, 245, 238);
    border: none;
    color: rgb(17, 119, 105);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}